.m-mode-2 {
    /*for dev purposes only*/
    /*width: 900px;*/
    /*height: 600px;*/

    /*normally*/
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.m-mode-2-header {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-mode-2-header-title {
    margin-bottom: 0;
    font-size: 35px;
}



.m-mode-2-main {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.m-mod-2-middle-finish-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.m-mod-2-middle-finish-txt {
    font-size: 25px;
}

.m-mod-2-middle-finish-btn {
    margin-top: 20px;
}

.m-mode-2-card-wrapper {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.m-mode-2-footer {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-mode-2-footer-ctr {
    font-size: 20px;
    color: #272727;
}

.m-mode-2-footer-svg {
    height: 24px;
    width: 24px;
    margin: 0 10px;
    fill: #272727;
}