.m-card-part {
    height: 33%;
    width: 100%;
    color: #272727;
}

.m-card-term-wrapper p {
    font-size: 30px;
}

#m-check-card-input {
    height: 60%;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    padding: 5px;
    text-align: center;
}