#main-div {
    background: url("../../../assets/color-2174065.png") no-repeat;
    background-size:cover;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#navdiv{
    width: 17%;
}
#createSet{
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    margin-top: 4%;
    margin-left: 27%;
}
#reviewSets{
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    margin-top: 6%;
    margin-left: 27%;
    height: fit-content;
    min-height: 15vh;
}
#reviewSets h5{
    margin-left:1%;
    margin-top:20%;
    font-size: 15px;
}