@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}

html, body, #root {
    height: 100%;
    margin: 0;
    position: relative;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

*::-moz-focus-inner, *:active::-moz-focus-inner {
    border: 0;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    /*noinspection CssUnknownProperty*/
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Opera and Firefox */
}

.m-flex-ctr-cnt {
    display: flex;
    align-items: center;
    justify-content: center;
}

