.m-flip-card {
    background-color: transparent;
    perspective: 1000px;
    width: 100%;
    height: 100%;
}

.m-flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

.m-flip-card:hover .m-flip-card-inner {
    transform: rotateY(180deg);
}

.m-flip-card-front, .m-flip-card-back {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.m-flip-card-front {
    background-color: #e7e7e7;
    color: #272727;
}

.m-flip-card-back {
    background-color: #818181;
    color: white;
    transform: rotateY(180deg);
}

.m-flip-card-front p, .m-flip-card-back p{
    font-size: 25px;
}
