#home-page {
    background: url("../../../assets/gradient4.png") no-repeat;
    background-size:cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-page h1 {
    text-align: center;
    display: block;
    width: 100%;
}