#m-home-page {
    /*thanks to: https://www.pexels.com/@jeshoots-com-147458*/
    background: url("../../../assets/img1.jpeg") no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#m-home-page h1 {
    margin: 0;
    padding: 0 15px;
    text-align: center;
    display: block;
    width: 100%;
}


.m-home-page-btn,
.m-home-page-btn:hover,
.m-home-page-btn:active,
.m-home-page-btn:link {
    text-decoration: none;
    color: #000;
}

.m-home-page-btn {
    margin-top: 15px;
    padding: 15px 45px !important;
}
