.m-card {
    width: 100%;
    height: 100%;

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #e7e7e7;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.m-card-line {
    width: 90%;
    border-bottom: 1px solid #9f9f9f;
}

.m-card-term {
    height: 50%;
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.m-card-definition {
    height: 50%;
    width: 40%;
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

input {
    width: 100%;
    border: none;
    border-bottom: 2px solid dodgerblue;
    background-color: #e7e7e7;
}

input:focus {
    outline: none;
}

.m-card-term p, .m-card-definition p {
    color: #272727;
    font-size: 20px;
}

