@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

* {
    font-family: 'Alata', sans-serif;
}

html, body, #root {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}